# bash unix shell script for dividing a sample into subsamples and 
# performing imputation with Beagle on each subsample separately.

sample="?"	# replace ? with name of sample Beagle file
ref="?"	# replace ? with name of reference panel Beagle file
missing="?"	# replace ? with missing allele code
markers="?"	# replace ? with name of markers file with markers in reference panel

sampleCol="?"	# replace ? with number of columns (including first two columns) in sample Beagle file
windowSize="?"	# replace ? of number of columns of allele data to use per subsample (e.g. 500)

start="3"
let "end=start+windowSize-1"
z="10"

while [ "${end}" -lt "${sampleCol}" ]
do
  echo "start=${start}  end=${end}  subsample.index=${z}"
  java -jar cut.jar ${sample} 1:2 ${start}:${end} ${sample}.${z}
  java -jar beagle.jar phased=${ref} unphased=${sample}.${z} missing=${missing} markers=${markers} log=${sample}.${z}
  let "start=end+1"
  let "end=start+windowSize-1"
  let "z=z+1"
done

echo "start=${start}  end=${sampleCol}  subsample.index=${z}"
java -jar cut.jar ${sample} 1:2 ${start}:${sampleCol} ${sample}.${z}
java -jar beagle.jar phased=${ref} unphased=${sample}.${z} missing=${missing} markers=${markers} log=${sample}.${z}

java -jar paste.jar 2 ${sample}.[1-9][0-9].phased  ${sample}.phased
java -jar paste.jar 3 ${sample}.[1-9][0-9].gprobs ${sample}.gprobs
java -jar paste.jar 1 ${sample}.[1-9][0-9].r2  ${sample}.r2
cat ${sample}.[1-9][0-9].log > ${sample}.log

rm ${sample}.[1-9][0-9]
rm ${sample}.[1-9][0-9].phased
rm ${sample}.[1-9][0-9].gprobs
rm ${sample}.[1-9][0-9].r2
rm ${sample}.[1-9][0-9].log 
